<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_potsdam.hpi.openmensa"
    android:versionCode="1"
    android:versionName="1.0"
    android:configChanges="keyboardHidden|orientation" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        android:maxSdkVersion="17"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:allowBackup="true">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".api.preferences.SettingsActivity"
            android:label="@string/title_activity_preferences" >
            
            <intent-filter>
       			<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
       			<category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>
            <meta-data android:value=".MainActivity" android:name="android.support.PARENT_ACTIVITY"/>
        </activity>
        
        <meta-data android:name="CLOUDMADE_KEY" android:value="cd90d029cdd64f7e87e30920103d1720" />
        
        <service android:name="org.andnav.osm.services.OpenStreetMapTileProviderService"
             android:process=":remote"
             android:label="OpenStreetMapTileProviderService">
        <intent-filter>
            <action android:name="org.andnav.osm.services.IOpenStreetMapTileProviderService" />
          </intent-filter>
    </service>
    </application>

</manifest>
